{% extends 'base.html.twig' %}

{% block title %}Post Details{% endblock %}

{% block content %}
<div class="box-card bp-post-details">
    <h2 class="post-title">{{ post.title }}</h2>

    <p class="post-date">
        {{ post.publishedAt|date("F jS \\a\\t g:ia") }}
    </p>

    <p>{{ post.content }}</p>

    
    <form action="{{ path('blog_index') }}" method="get" class="form post-comment-form">
        <div class="form-group">
            <textarea class="form-control post-comment-form-input" name="comment" placeholder="Enter your comment here..."></textarea>
            <button class="btn btn-secondary" type="submit">Post Comment</button>
        </div>
    </form>

    {% for comment in post.comments %}
        <div class="box-card post-comment">
            <p class="post-comment-date">{{ comment.publishedAt|date("F jS \\a\\t g:ia") }}</p>
            
            <p class="post-comment-text">
                {{ comment.content|escape }}
            </p>
        </div>
    {% endfor %}
</div>
{% endblock %}
