<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <div class="container bp-container">
            <header class="bp-header">
                <nav class="navbar bp-navbar">
                    <ul class="navbar-nav bp-navbar-nav mr-auto mt-2 mt-lg-0">
                        {% block topnav %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('blog_index') }}">Home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('admin_index') }}">Login</a>
                            </li>
                        {% endblock %}
                    </ul>
                    <form action="{{ path('blog_index') }}" method="get" class="form-inline my-2 my-lg-0">
                        <div class="form-group">
                            <input name="q"
                                value="{{ app.request.query.get('q') }}"
                                class="form-control mr-sm-2 search-field"
                                placeholder="Search"
                                autocomplete="off">
                            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                        </div>
                    </form>
                </nav>
            </header>
            <main class="bp-main">
                {% block content %}{% endblock %}
            </main>
        </div>
        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </body>
</html>
